processors/__pycache__/
resources/old/
resources/old/
resources/studentaid/.DS_Store
resources/studentaid/handbook/.DS_Store
.env
db/
openshift/wb-secret.yaml
taxonomy.tar.gz
taxonomy.zip
.DS_Store
venv/
